{% extends 'common.html' %}

{% block content %}
    {% load static %}
    <table align="center" border="0" width="1000">
        <tr>
            <th width="200">
                <img src="{% static 'images/about.png' %}">
            </th>
            <th width="800">
                Let’s face it. Most people hate the software they use at work.<br><br>

                Business software is clunky, expensive, hard to setup and frustrating to use. Countless hours are wasted trying to customize these solutions and they often require expensive professional services to get everything to work. In the end, the solution becomes so complex that businesses need to hire full-time employees to babysit the software.
            </th>
        </tr>
    </table>
{% endblock %}