{% extends 'common.html' %}

{% block content %}
    {% load static %}
    <table align="center" border="0" width="1000">
        <tr>
            <td width="500" style="font-family: Arial">
                Resumes are a great way by which you can identify quality talent but they have a major problem: recruiters have a hard time managing and organizing these resumes to pick the relevant ones.<br><br>

                Often called resume management software, but known by many other names - resume sorting software, resume filtering software, resume database management software - the concept is the same: they’re software used to source, collect, parse, organize and store the resumes in a central database. Perhaps, resume management system predominantly focuses on cutting down manual work involved in organizing the plethora of resumes that come in.
            </td>
            <th>
                <img src="{% static 'images/rms.png' %}"width="500">
            </th>
        </tr>
    </table>
{% endblock %}