{% extends 'common.html' %}

{% block content %}
    <form action="{% url 'validate_otp' %}" method="post">
    {% csrf_token %}
        <table align="center" border="2" width="400">
        <tr>
            <th style="text-align: center;font-family: Arial;background-color: darkblue;color: white;font-size: 30px">OTP Validation </th>
        </tr>
        <tr>
            <th>
                <input type="number" placeholder="Contact No" required name="t1">
            </th>
        </tr>
        <tr>
            <th>
                <input type="number" placeholder="Enter Your OTP" required name="t2">
            </th>
        </tr>
        <tr>
            <th style="text-align: center">
                <button type="submit" class="btn btn-success">Submit</button>
            </th>
        </tr>

        <tr>
            <th>
              {% if message %}
                   <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Warning!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
              {% endif %}
            </th>
        </tr>
    </table>
    </form>
{% endblock %}